<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VMS.Client.TrackingSystem.Properties.Settings.vmsDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=vmsDatabase;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>